{% extends "base.html" %}

{% block all_comments %}

<h3>所有評論</h3>

   <table class="table table-striped">
        <thead>
            <tr>
                <th>標題</th>
                <th>公司名稱</th>
                <th>評分分數</th>
            </tr>
        </thead>
        <tbody>
            {% for p in comment_list %}
            <tr>
                <td>{{ p.comment_title }}</td>
                <td>{{ p.comment_company }}</td>
                <td>{{ p.comment_score }}</td>
            </tr>
            {% endfor %}
        </tbody>
   </table>

{% endblock %}