{% extends "base.html" %}

{% block all_comments %}

<div class="row row-cols-1 row-cols-md-4" style="margin: 3%;">
        
    <div class="col mb-4">           
        <div class="card" style="background-color: #E0F5E8; cursor:pointer;" 
        onclick="location.href='single_comment.html';">              
            <div class="card-body" style="margin-left: 5%;margin-top: 5%;">
                <h4 class="card-title">標題</h4><br>
                <h5 class="card-company">公司名稱：</h5><br>
                <h5 class="card-score">評分分數：</h5><br>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card" style="background-color: #F4DDE6;">
            <div class="card-body" style="margin-left: 5%;margin-top: 5%; cursor:pointer;" 
            onclick="location.href='single_comment.html';">           
                <h4 class="card-title">標題</h4><br>
                <h5 class="card-company">公司名稱：</h5><br>
                <h5 class="card-score">評分分數：</h5><br>
            </div>
        </div>
    </div>
    <div class="col mb-4">           
        <div class="card" style="background-color: #E0F5E8; cursor:pointer;" 
        onclick="location.href='single_comment.html';">              
            <div class="card-body" style="margin-left: 5%;margin-top: 5%;">
                <h4 class="card-title">標題</h4><br>
                <h5 class="card-company">公司名稱：</h5><br>
                <h5 class="card-score">評分分數：</h5><br>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card" style="background-color: #F4DDE6;">
            <div class="card-body" style="margin-left: 5%;margin-top: 5%; cursor:pointer;" 
            onclick="location.href='single_comment.html';">           
                <h4 class="card-title">標題</h4><br>
                <h5 class="card-company">公司名稱：</h5><br>
                <h5 class="card-score">評分分數：</h5><br>
            </div>
        </div>
    </div>
    <div class="col mb-4">           
        <div class="card" style="background-color: #E0F5E8; cursor:pointer;" 
        onclick="location.href='single_comment.html';">              
            <div class="card-body" style="margin-left: 5%;margin-top: 5%;">
                <h4 class="card-title">標題</h4><br>
                <h5 class="card-company">公司名稱：</h5><br>
                <h5 class="card-score">評分分數：</h5><br>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card" style="background-color: #F4DDE6;">
            <div class="card-body" style="margin-left: 5%;margin-top: 5%; cursor:pointer;" 
            onclick="location.href='single_comment.html';">           
                <h4 class="card-title">標題</h4><br>
                <h5 class="card-company">公司名稱：</h5><br>
                <h5 class="card-score">評分分數：</h5><br>
            </div>
        </div>
    </div>
    <div class="col mb-4">           
        <div class="card" style="background-color: #E0F5E8; cursor:pointer;" 
        onclick="location.href='single_comment.html';">              
            <div class="card-body" style="margin-left: 5%;margin-top: 5%;">
                <h4 class="card-title">標題</h4><br>
                <h5 class="card-company">公司名稱：</h5><br>
                <h5 class="card-score">評分分數：</h5><br>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card" style="background-color: #F4DDE6;">
            <div class="card-body" style="margin-left: 5%;margin-top: 5%; cursor:pointer;" 
            onclick="location.href='single_comment.html';">           
                <h4 class="card-title">標題</h4><br>
                <h5 class="card-company">公司名稱：</h5><br>
                <h5 class="card-score">評分分數：</h5><br>
            </div>
        </div>
    </div>
</div>

{% endblock %}