{% extends "base.html" %}

{% block write_comment %}

<form style="margin-left:10%;margin-right: 10%;margin-top: 5%;margin-bottom: 5%;" method="POST">
    {% csrf_token %}

    {{ form }}

    {% comment %} <div class="score" style="margin-bottom: 2%;">
        <label>滿意度評分(1:非常不滿意~5:非常滿意)</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">4</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">5</label>
        </div>
    </div> {% endcomment %}
    
    <div>
        <button type="submit" class="btn_write btn-primary" style="background-color:steelblue ;margin: 0%;">送出</button>
    </div>

</form>

{% endblock %}